/////////////////////////////
//Logo
.header {
  font-size: 1.4rem;

  &__logo {
    height: 3.25rem;
    margin-left: 2rem;
  }
}

/////////////////////////////
//Search
.search {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 0 0 40%;

  @media only screen and (max-width: $bp-smallest) {
    background-color: var(--color-grey-light-2);
    order: 1;
    flex: 0 0 100%;
  }

  &__button {
    background-color: var(--color-grey-light-2);
    border: none;

  }

  &__input {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 25rem;
    font-family: inherit;
    font-weight: inherit;
    margin-right: -3.5rem;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 400;
    }
  }

  &__icon {
    background-color: var(--color-grey-light-2);
    fill: var(--color-grey-dark-3);
    height: 2rem;
    width: 2rem;
  }
}


/////////////////////////////
//Icon
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    height: 100%;
  }

  & > *:hover {
    background-color: var(--color-grey-light-1);
  }


  &__icon {
    color: var(--color-grey-dark-3);
    height: 2.25rem;
    width: 2.25rem;
  }

  /////////////////////////////
  //User

  &__notification {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    position: relative;
    height: 1.75rem;
    width: 1.75rem;
    top: -1.5rem;
    right: 1.1rem;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}

/////////////////////////////
//Side Navigation

.side-nav {

  @media only screen and (max-width: $bp-large) {
    display: flex;
    margin: 0;
  }

  &__item {
    align-items: center;
    color: var(--color-grey-dark-3);
    cursor: pointer;
    display: flex;
    padding: 1.5rem 2rem;
    position: relative;
    transition: all 0.2s;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $bp-large) {
      flex: 1;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1.5rem 1rem;
    }

  }

  &--active {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .4s,
    width .4s cubic-bezier(1, 0, 0, 1) .2s,
    background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    width: 100%;
    transform: scaleY(1);
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__icon {
    fill: currentColor;
    height: 2.5rem;
    margin-right: 2rem;
    width: 2.5rem;

    @media only screen and (max-width: $bp-small) {
      margin: 0 0 .7rem 0;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 10;

    @media only screen and (max-width: $bp-large) {
      justify-content: center;
      padding: 2rem;
    }
    
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }
}

/////////////////////////////
//Legal Text
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  margin-bottom: 5rem;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}

/////////////////////////////
//GAllERY
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/////////////////////////////
//Overview
.overview {
  align-items: center;
  border-bottom: var(--line);
  display: flex;
  flex: 1;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.24rem 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1rem;
    }
  }

  &__stars {
    font-size: 1.5rem;
    color: var(--color-primary);
    display: flex;
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    fill: var(--color-primary);
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 1rem;
    }
  }

  &__location {
    font-size: 1.5rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
  }

  &__icon-location {
    fill: var(--color-grey-dark-3);
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  &__rating {
    align-self: stretch;
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
    width: 15rem;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }

}

/////////////////////////////
//Button Inline
.btn-inline {
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  font-size: inherit;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  transition: all .2s;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 1rem;
  }

  & span {

    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    animation: pulsate 1s infinite;
    outline: none;
    border-bottom: 2px solid currentColor;
  }
}

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    box-shadow: none;
    transform: scale(1);
    opacity: 1;
  }
}

/////////////////////////////
//Recommend
.recommend {
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;

  &__photo {
    border: 3px solid var(--color-white);
    box-sizing: content-box;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }

  &__count {
    color: var(--color-grey-dark-3);
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: auto;
  }

  &__friends {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}

/////////////////////////////
//Reviews

.review {
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 4.5rem;
  padding: 3rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-large) {
    margin-bottom: 3rem;
    margin-right: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-right: 0;
  }



  &__user {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
  }

  &__photo {
    border: 3px solid var(--color-white);
    box-sizing: content-box;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__user-name {
    color: var(--color-grey-dark-1);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    color: var(--color-grey-dark-3);
    font-size: 1rem;
  }

  &__rating {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &::before {
    content: '\201C';
    color: var(--color-grey-light-2);
    font-size: 20rem;
    font-family: sans-serif;
    position: absolute;
    left: -1rem;
    line-height: 1px;
    top: 7.25rem;
    z-index: 1;
  }
}


/////////////////////////////
//Call to Action
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;;

  }
  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover &__visible {
    background-color: var(--color-primary-light);
    color: var(--color-white);
    transform: translateY(100%);
  }

  &:focus {
    animation: pulsate 1s infinite;
    outline: none;
  }
}
